# Environment Variables
.env

# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (opsional - uncomment jika tidak ingin file data ikut ter-push)
# data/*.json

# Catatan Belajar Pribadi
LEARNING.md

# IDE
.vscode/
.idea/
